#RewriteCond %{REQUEST_FILENAME}.html -f
#RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]

#RewriteEngine On
#RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ /index/$1 [NC,L,QSA]

#RewriteEngine On
#RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.+)$ index.php [QSA,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
